@font-face {
  font-display: swap;
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/fira-mono-v14-latin-regular.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/fira-mono-v14-latin-700.woff2) format("woff2");
}

* {
  padding: 0;
  margin: 0;
  cursor: default;
  box-sizing: border-box;
}

h1 {
  font-size: 1.1rem;
  font-weight: 700;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
}

a {
  cursor: pointer;
}

body {
  font-family: "Fira Mono", monospace, sans-serif;
  overflow: hidden;
  padding: 1rem;
  height: 100vh;
  background-color: #0d1117;
  color: #c9d1d9;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

body.fade-in {
  opacity: 1;
}

body.fade-out {
  opacity: 0;
}
.darkmode {
  background-color: #0d1117;
  color: #c9d1d9;
}

::-webkit-scrollbar {
  width: 0.4em;
  background-color: #0d1117;
  height: 0.2em;
}

::-webkit-scrollbar-thumb {
  background-color: #c9d1d9;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c9d1d9 #0d1117;
}

svg {
  overflow: visible;
}

#logo {
  width: 80%;
  display: block;
  margin: -2rem auto 1rem auto;
}

.neofetch {
  border: 1px solid white;
  position: relative;
  max-width: 100%;
  color: white;

  width: 100%;
  height: 100%;
}

.neofetch-gifs {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 37%;
  margin: 0 auto;
}
.lainweb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border: 1px solid;
}
.chatbot-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 104%;
  height: 100%;
  border: 1px solid;
}

.neofetch-text {
  white-space: pre;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1;
  left: 0;
  font-size: calc(0.7vw);
  bottom: 0;
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 93%;
  gap: 0.4rem;
  justify-content: flex-start;
}

#section-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 0.4rem;
}

#left-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 25%;
}

#right-section {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 75%;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

#main-content .container-content {
  overflow-y: auto;
  line-height: 1.5rem;
  gap: 1.5rem;
  padding: 2rem;
  align-items: center;

  height: 100%;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-top: 0.2rem;
  font-size: 0.8rem;
  overflow: hidden;
  min-height: 4ch;
}

#home {
  height: auto;
}

#home-section-paragraph {
  padding: 0 0.2rem;
}

.footer-item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  border: 0.1px solid #c9d1d9;
  position: relative;
  padding-top: 0.2rem;
  height: 100%;
}
.infoTranslate {
  padding-left: 12rem;
}

#left-section .container#experience:hover:not(.selected-frame) {
  border-color: #58a6ff;
}

#left-section .container#projects:hover:not(.selected-frame) {
  border-color: #ec8e2c;
}
#left-section .container#skills:hover:not(.selected-frame) {
  border-color: #bc8cff;
}
.container-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.outer-paragraph-container {
  width: 100%;
}

.inner-paragraph-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.image-container {
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
}

.image-inner-container {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 0.5rem;
  border: 0.1px solid #79c0ff;
}

.project-image {
  margin: 0.5rem;
  width: 100%;
  max-width: fit-content;
  background-color: #1e4273;
}

pre {
  display: block;
  font-family: "Fira Mono", monospace, sans-serif;
  font-size: 0.8rem;
  line-height: 1.2rem;

  border: 0.1px solid #79c0ff;
  color: #c9d1d9;
  overflow-x: scroll;
  margin: 0;
}
code.html {
  position: static;
}

.h-fill {
  flex-grow: 1;
}

.decorating-text {
  position: absolute;
  padding: 0 0.1rem;
  width: fit-content;
}

.decorating-text p {
  position: relative;
  z-index: 2;
}

.decorating-text div {
  position: relative;
  z-index: 1;
  background-color: #0d1117;
  height: 0.5ch;
  top: -1ch;
  left: -2px;
  width: 104%;
}

.title {
  top: -12px;
}

.list-index {
  bottom: -12px;
  align-self: flex-end;
}

.ui-list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 99%;
  padding: 0.2rem;
  overflow-y: auto;
  overflow-x: hidden;
}

#experience .ui-list {
  justify-content: space-between;
}

#experience .ui-list div {
  width: 100%;
  text-wrap: balance;
}

#experience .ui-list div div {
  width: 50%;
  justify-content: flex-start;
  gap: 1rem;
}

.ui-list div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.ui-list img {
  width: 1.5rem;
  height: 1.5rem;
}

.ui-list div:hover:not(.selected-item):not(.selected-item > div) {
  background-color: #141a24;
}

.selected-frame {
  border-color: #58a6ff;
}

.selected-frame .decorating-text {
  color: #79c0ff;
}

.selected-frame .container-content {
  scrollbar-color: #79c0ff #0d1117;
}

div.selected-frame > ::-webkit-scrollbar-thumb {
  background-color: #79c0ff;
}

.selected-item,
.selected-item div {
  background-color: #1e4273;
}

.text-orange {
  color: #ec8e2c;
}

.text-blue {
  color: #58a6ff;
}

.text-pink {
  color: #bc8cff;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 0;
}

.project-button {
  all: unset;
  padding: 0.5rem 1rem;
  border: 0.1px solid #c9d1d9;
  color: #c9d1d9;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
}

.project-button:hover {
  background-color: #1e4273;
}

.project-button:active {
  opacity: 0.5;
}

.tools {
  display: flex;
  gap: 1rem;
}

.project-button:nth-child(2) {
  margin-right: auto;
}

.project-button:last-child {
  margin-right: 0;
}

.lainweb model-viewer {
  width: 100%;
  height: 100%;
}

.modelsglb model-viewer {
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-center h2 {
  margin-bottom: 20px;
}

.modelsglb {
  width: 100%;
  height: 316px;
  border: 1px solid;
  display: inline-block;
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.model-row {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  padding: 0;
}
.model-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #c9d1d9;
}

.model-nav-button {
  all: unset;
  border: 1px solid #c9d1d9;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.model-nav-button:hover:not(:disabled) {
  background-color: #1e4273;
  border-color: #58a6ff;
}

.model-nav-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#model-set-number {
  font-size: 1.5rem;
  font-weight: 700;
  color: #58a6ff;
}
#model-set-number-anim {
  font-size: 1.5rem;
  font-weight: 700;
  color: #58a6ff;
}

.model-viewer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#showreel-trigger {
  all: unset;
  margin-top: 5px;
  padding: 0.5rem 1rem;
  border: 0.1px solid #c9d1d9;
  color: #c9d1d9;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
  font-size: 1.5rem;
}

#showreel-trigger:hover {
  background-color: #1e4273;
}

/* responsive */
@media screen and (max-width: 1300px) {
  .neofetch {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  #left-section,
  #right-section {
    width: 100%;
  }

  /* #section-container {
    flex-direction: column;
  } */

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  .project-button {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .neofetch,
  #home.container.selected-frame,
  #experience.container,
  #projects.container,
  #skills.container,
  #footer-help.footer-item {
    display: none;
  }
  .infoTranslate {
    display: none;
  }
  #main-content.container.h-fill {
    margin-left: -80px;
  }

  #footer.container.text-blue {
    display: grid;
    justify-content: center;
  }
  #main-container {
    height: 90%;
  }
}

.skills-container {
  display: flex;
  border: 1px solid #c9d1d9;
  padding: 1rem;
  margin-top: 1rem;
  gap: 1rem;
}

.skills-category {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills-category h3 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.skill-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 260px;
  overflow-y: auto;
  padding-right: 1rem;
}

.skill-button {
  all: unset;
  padding: 0.8rem;
  border: 1px solid;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skills-category:first-child .skill-button {
  border-color: #ec8e2c;
  color: #ec8e2c;
}

/* .skills-category:first-child .skill-button:hover {
  background-color: #ec8e2c;
  color: #0d1117;
  box-shadow: 0 0 10px #ec8e2c;
} */

.skills-category:last-child .skill-button {
  border-color: #bc8cff;
  color: #bc8cff;
}

/* .skills-category:last-child .skill-button:hover {
  background-color: #bc8cff;
  color: #0d1117;
  box-shadow: 0 0 10px #bc8cff;
} */

.skills-title {
  text-align: center;
  margin-bottom: 1rem;
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
