
#video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  display: none;
  z-index: 999;
}

#video-overlay.active {
  display: block;
}

.neofetch-gifs {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 1000;
}

.neofetch-gifs.active {
  display: block;
}
